										/* getting the basics setup */
body { overflow: hidden; background-color: black; color: white; margin:0 0 0 0px;}
p    { font-size: 100%; text-indent: -3em; margin-left: 3em; line-height: 2.5em; margin-top: 4em; vertical-align: 100%;}
#content {position:absolute; top:48px; bottom:0; left: 70px; right: 0px; overflow:auto; 
	width: expression(document.body.clientWidth - 70 + "px");
	height: expression(document.body.clientHeight - 48 + "px");padding-right: 20px;}

										/* The Head Letter at the Top */
#AlphaHeadLetterUNI { margin-bottom:35px; margin-top:25px; text-align:center; 
font-family: "Xenotype Tibetan","XTashi","Microsoft Himalaya","Tibetan Machine Uni"; font-size: 450%; color: Fuchsia; }

										/* Side Ka-Kha-Ga... Menu */
#AlphaMenuUNI {display: block; line-height: .7em; font-family: "Xenotype Tibetan","XTashi","Microsoft Himalaya","Tibetan Machine Uni"; font-size: 240%; padding: 0px 0px 0px 0px; text-decoration:none; text-align:center; position:absolute; top:0; bottom:0; left:0; width:60px; background:transparent; overflow:auto;
				height: expression(document.body.clientHeight + "px");}
#AlphaMenuUNI a:link     {display: block; color:aqua; display:block; background:transparent; text-align:center; text-decoration:none; }
#AlphaMenuUNI a:visited  {display: block; color:aqua; background:transparent; text-decoration:none; text-align:center; }
#AlphaMenuUNI a:hover    {display: block; color:white; text-decoration:none; text-align:center; font-size: 100%;  background:purple; }
#AlphaMenuUNI a:active   {display: block; color:white; background:blue; text-decoration:none; text-align:center; }

										/* Top LINKS Menu */
#LinksMenu {display: inline; text-align: center; white-space: nowrap; font-family: arial; text-decoration: none; position: absolute; top:0; bottom: 0; left: 60px; right: 0px; height: 48px; overflow: auto; 
	width: expression(document.body.clientWidth - 60 + "px");}
#LinksMenu a:link   {color:white; background:transparent; text-decoration:underline; }
#LinksMenu a:visited  {color:white; background:transparent; text-decoration:underline;}
#LinksMenu a:hover    {color:white; background:blue; text-decoration:none; font-size: 100%; }
#LinksMenu a:active   {color:white; background:blue; text-decoration:none;}
#SelectFontForm {border: thin solid white; padding: 0em .3em .3em .3em; font-family: Arial; background-color: DarkBlue; text-align: center; }
#SelectFontBox  {font-family: inherit; color: white; background-color: blue; font-size: 80%;}
#SelectSizeForm {border: thin solid white; padding: 0em .3em .3em .3em; font-family: Arial; background-color: DarkBlue; text-align: center;}
#SelectSizeBox  {font-family: inherit; color: white; background-color: purple; font-size: 80%;}
#RefNoBox {border: thin solid white; padding: 0em .3em .3em .3em; color: white; font-family: Arial; text-align: center; background-color: DarkBlue;}
#strRefID {color: black; background-color: yellow; text-align: center; font-size: 80%;}

										/* The main verb and related */
.verbUNI              { display: block; margin: 0em 0em .5em 0em; color: white; font-family: "Xenotype Tibetan","XTashi","Microsoft Himalaya","Tibetan Machine Uni"; font-size: 550%;}
.VerbPastUNI          { text-align: right; display: block; margin:-2.5em 2em 0em .5em; color: goldenRod; font-family: "Xenotype Tibetan","XTashi","Microsoft Himalaya","Tibetan Machine Uni"; font-size: 300%;}
.VerbFutureUNI        { text-align: right; display: block; margin: 0em 1em 0em .5em;   color: blue;      font-family: "Xenotype Tibetan","XTashi","Microsoft Himalaya","Tibetan Machine Uni"; font-size: 300%;}
.VerbImperativeUNI    { text-align: right; display: block; margin: 0em 1.5em 0em .5em; color: aqua;      font-family: "Xenotype Tibetan","XTashi","Microsoft Himalaya","Tibetan Machine Uni"; font-size: 300%;}
.VerbpronunciationUNI { text-align: right; display: block; margin: 0em 1em 0em .5em;   color: pink;      font-family: "Xenotype Tibetan","XTashi","Microsoft Himalaya","Tibetan Machine Uni"; font-size: 300%;}
										/* Verbal arguments */	
.DistransitiveArgument { margin-left: 1em; padding-left: .3em; padding-right: .3em; color: white; font-family: sans-serif; border-style: double; border-color: pink; background-color: Indigo; font-variant: small-caps; font-size: 100%; vertical-align: 0%; }
	
.ErgativeArgument      { margin-left: 1em; padding-left: .3em; padding-right: .3em; color: white; font-family: sans-serif; border-style: double; border-color: pink; background-color: DarkBlue; font-variant: small-caps; font-size: 100%; vertical-align: 0%; }

.IndirectErgative      { margin-left: 1em; padding-left: .3em; padding-right: .3em; color: white; font-family: sans-serif; border-style: double; border-color: pink; background-color: CornflowerBlue ; font-variant: small-caps; font-size: 100%; vertical-align: 0%; }
.AffectiveArgument     { margin-left: 1em; padding-left: .3em; padding-right: .3em; color: white; font-family: sans-serif; border-style: double; border-color: pink; background-color: yellow; font-variant: small-caps; font-size: 100%; vertical-align: 0%; }
.BenefactivePossessive { margin-left: 1em; padding-left: .3em; padding-right: .3em; color: white; font-family: sans-serif; border-style: double; border-color: pink; background-color: purple; font-variant: small-caps; font-size: 100%; vertical-align: 0%; }
.Intransitive          { margin-left: 1em; padding-left: .3em; padding-right: .3em; color: white; font-family: sans-serif; border-style: double; border-color: pink; background-color: green; font-variant: small-caps; font-size: 100%; vertical-align: 0%; }
.Zerovalency           { margin-left: 1em; padding-left: .3em; padding-right: .3em; color: white; font-family: sans-serif; border-style: double; border-color: pink; background-color: lightgreen; font-variant: small-caps; font-size: 100%; vertical-align: 0%; }
										/* Volitionality */
.volitional        { display: inline; margin-left: 0em; padding-left: .3em; padding-right: .3em; color: white; font-family: sans-serif; border-style: double; border-color: red; font-variant: small-caps; font-size: 100%; vertical-align: 0%; }
.nonvolitional     { display: inline; margin-left: 0em; padding-left: .3em; padding-right: .3em; color: white; font-family: sans-serif; border-style: double; border-color: yellow; font-variant: small-caps; font-size: 100%; vertical-align: 0%; }

										/* other entry tags */
.LanguageLevel     { color: BlueViolet; text-decoration: overline; text-align: center; margin-right: 2em; display: block; font-family: arial; font-size: 80%; font-style: italic; margin-left: 1em; vertical-align: 0%; }
.EnglishGloss      { margin-left:  1em; font-family: courier; color: greenyellow ; font-size: 150%; font-weight: bold; vertical-align: 0%; }
.ExTibSentenceUNI  { margin-left: .5em;  font-family: "Xenotype Tibetan","XTashi","Microsoft Himalaya","Tibetan Machine Uni"; font-size: 225%; font-weight: 100; color: orange; vertical-align: -40%; }
	.toneButton {display: inline; height: 28px; width: 28px; vertical-align: -45%; margin-left: .5em; margin-right: -1em; }
	
	/* deal with CSS of speaker A and speaker B */
	.khaSpeaker {color: LightGreen; font-size: 120%; font-style: italic; vertical-align: 10%;}
	.kaSpeaker {color: LightGreen; font-size: 120%; font-style: italic; vertical-align: 10%;}
	.exParenthesis {color: LightSeaGreen;}

	.phoneticsButton { height: 28px; width: 28px; vertical-align: -63%; margin-left: .5em; }	
	.phonetics { display: none; font-family: "Doulos SIL"; color: white; vertical-align: -40%; margin-left: 0em;
			 font-size: 115%; border: 4px ridge white; padding: .1em 1em .1em 1em; 
			 background-color: #600000;}
	
.ExTibSenEngGloss  { padding-left: 1em; font-family: times new roman; color: lightblue ; font-style: italic; font-size: 130% ;
					 vertical-align: -40%; }
	/* CSS to deal with English Syllabe Divider */
	.engSyllableDivider {display:none; color:red;} /* JS will make this divider character visible if user desires to see it */ 
.CommentsTibetanUNI   { margin-left: .5em; color: red; font-size: 225%; font-family: "Xenotype Tibetan","XTashi","Microsoft Himalaya","Tibetan Machine Uni"; vertical-align: -40%; }
.CommentsEnglish   { margin-left:  1em; font-family: arial; color: cyan ; vertical-align: -40%;}
.ThematicCategory1 { margin-left: .5em; font-size: 80% ; color: white; font-family: sans-serif; border-style: double; border-color: plum;  vertical-align: -40%; }
.ThematicCategory2 { font-size: 80% ; color: white; font-family: sans-serif; border-style: double; border-color: plum;  vertical-align: -40%; }
.ThematicCategory3 { font-size: 80% ; color: white; font-family: sans-serif; border-style: double; border-color: plum;  vertical-align: -40%; }
.ID                { color: Gainsboro ; font-family: arial; font-size: 70%; margin-left: 1em; vertical-align: -40%; 	}	

										/* Multimedia Links */
.PlayAudio         { color: pink ; font-family: courier; font-size: 90%; margin-left: 1em; vertical-align: -40%; 	}	
.PlayAudio a:hover {color: white; background-color: blue; border: thin dotted red; }
.PlayVideo         { text-decoration: blink; color: lightblue ; font-family: courier; font-size: 90%; margin-left: 1em; vertical-align: -40%;}	

										/* determine the relative vertical-align of the various tones in the Tibetan */
	.highTone{ vertical-align: 0%; } .lowTone{ vertical-align: 0%; }  .fallingTone{ vertical-align: 0%; }

										/* What happens if the user has no enable JavaScript */	
#NoJavaScript {text-align: center; position: absolute; color:white; bottom:0; left: 77px; right: 0; background-color: red;
	z-index: 10000; }
	
	.Honorific, .WrittenForm, .Humilific, .OppositeVolition, .TsangGey, .Causative  { margin-left: .5em;  font-family: "Xenotype Tibetan","XTashi","Microsoft Himalaya","Tibetan Machine Uni"; font-size: 225%; font-weight: 100; color: #00FFFF; vertical-align: -40%; }
	
/*  End of CSS file	
/* ----------------------------------------------------------------------------------------------------------------------*/	
	
	
	
	
	
	
	
	
	
	
	
/* Legacy - throw out soon */
/* MAKE SURE TO DELETE FROM ACCESS WEBMODULE FIRST! */
.tmw0   { font-family: TibetanMachineWeb;   }
.tmw1   { font-family: TibetanMachineWeb1;  }
.tmw7   { font-family: TibetanMachineWeb7;  }
.tmw8   { font-family: TibetanMachineWeb8;  }
.tmw9   { font-family: TibetanMachineWeb9;  }
.CommentsTibetan   { display: none; margin-left: .5em; color: red; font-size: 280%; font-family: TibetanMachineWeb; vertical-align: 0%; }
.verb              { display: none; color: white; font-size: 400%; font-family: TibetanMachineWeb; vertical-align: .4em; }
.VerbPast          { display: none; margin-left: .5em; color: goldenRod; font-size: 250%; font-family: TibetanMachineWeb; vertical-align:0%; }
.VerbFuture        { display: none; margin-left: -.7em; color: blue; font-size: 250%; font-family: TibetanMachineWeb; vertical-align:120%; }
.VerbImperative    { display: none; margin-left: -.2em; color: aqua; font-size: 250%; font-family: TibetanMachineWeb; vertical-align:50%; }
.Verbpronunciation { display: none;; margin-left: .5em; color: pink; font-family: TibetanMachineWeb; font-size: 220%; vertical-align: 0%}
#AlphaMenu a:link     {display: block; color:aqua; display:block; background:transparent; text-align:center; text-decoration:none; }
#AlphaMenu a:visited  {display: block; color:aqua; background:transparent; text-decoration:none; text-align:center; }
#AlphaMenu a:hover    {display: block; color:white; text-decoration:none; text-align:center; font-size: 100%;  background:purple; }
#AlphaMenu a:active   {display: block; color:white; background:blue; text-decoration:none; text-align:center; }
#AlphaMenu {display: none; line-height: .7em; font-family: TibetanMachineWeb; font-size: 240%; padding: 0px 0px 0px 0px; text-decoration:none; text-align:center; position:absolute; top:0; bottom:0; left:0; width:69px; background:transparent; overflow:auto;}
.ExTibSentence     { display: none; margin-left: .5em;  font-family: TibetanMachineWeb; font-size: 280%; font-weight: 100; color: yellow; vertical-align: 0%; }
#AlphaHeadLetter {display:none;}
